.tags {
  display: flex;
  gap: var(--space-md);
}

.tag {
  background-color: var(--secondary);
  border-radius: var(--radius-sm);
  line-height: var(--solid);
  padding: var(--space-sm) var(--space-md);
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
}
